:host {
    display: flex;
    height: 26px;
}

select {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 0 6px;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
}

select:focus {
    outline: 1px solid rgb(1, 204, 255);
}