:host {
    select {
        height: 32px;
        border: 1px solid var(--wiy-select-border-color);
        border-radius: 3px;
        padding: 5px 8px;
        background-color: white;
        cursor: pointer;

        &:hover {
            border-color: var(--wiy-select-border-color-hover);
        }

        &:focus {
            outline: none;
            border-color: var(--wiy-select-border-color-focus);
            box-shadow: var(--wiy-select-focus-shadow);
        }
    }
}