:host {
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 1em;
    user-select: none;
}

#buttons {
    display: flex;
    align-items: center;
    gap: 4px;
}

#buttons>* {
    min-width: 32px;
    text-align: center;
}

#jumper {
    display: flex;
    align-items: center;
    gap: 4px;
}

#jumper wiy-input {
    width: 48px;
}