:host {
    display: flex;
    align-items: center;
    gap: 20px;
    user-select: none;
    font-size: 14px;
    color: var(--wiy-pagination-text-color);
}

#buttons {
    display: flex;
    align-items: center;
    gap: 4px;
}

#buttons>* {
    min-width: 32px;
    text-align: center;
}

#current {
    color: black;
}

#jumper {
    display: flex;
    align-items: center;
    gap: 4px;
}

#jumper wiy-input {
    width: 48px;
}