<div id="icon" wiy:if="this.hasSlotTemplate('icon') || this.attr('icon')">
    <slot name="icon">
        <wiy-icon wiy:if="this.attr('icon')" name="{{this.attr('icon')}}"></wiy-icon>
    </slot>
</div>
<input id="input" type="{{this.attr('type') || 'text'}}" wiy:data="this.text" wiy:onchange="this.onInputChange"
    wiy:oninput="this.onInputInput" wiy:oncompositionend="this.onInputCompositionend" autocomplete="off"
    wiy:attr-placeholder="this.attr('placeholder')"
    wiy:attr-has-icon="this.hasSlotTemplate('icon') || this.attr('icon') ? '' : undefined"
    wiy:attr-is-password="this.attr('type') == 'password' ? '' : undefined" />
<div id="password-icon" wiy:if="this.attr('type') == 'password'" wiy:onclick="this.onPasswordToggleClick">
    <wiy-icon name="eye" wiy:if="this.showPassword"></wiy-icon>
    <wiy-icon name="eye-slash" wiy:if="!this.showPassword"></wiy-icon>
</div>