<div id="title" wiy:if="this.title">{{this.title}}</div>
<div id="desc" wiy:if="this.desc">
    <wiy-pre text="{{this.desc}}"></wiy-pre>
</div>
<div id="items">
    <template wiy:for="this.items" wiy:for.value="item">
        <template wiy:if="this.needShow(item)">
            <template wiy:if="item.isGroup">
                <label class="group-label">{{item.label}}</label>
            </template>
            <template wiy:if="item.newline">
                <div class="newline"></div>
            </template>
            <template wiy:if="!item.isGroup && !item.newline">
                <label class="label">
                    <span wiy:if="item.required" class="required">*</span>
                    <span class="label-name">{{item.label}}</span>
                </label>
                <div class="value">
                    <div class="info" wiy:if="!item.type" wiy:style="item.style">
                        <template wiy:if="!item.isHtml">{{this.data[item.name] || ''}}</template>
                        <div wiy:if="item.isHtml" wiy:html="this.data[item.name] || ''"></div>
                    </div>
                    <wiy-input wiy:if="item.type == 'input'" wiy:data-text="this.data[item.name]"
                        wiy:onchange="this.onItemValueChange(item)" wiy:style="item.style"
                        type="{{item.subType || 'text'}}" wiy:attr-placeholder="item.placeholder"
                        wiy:attr-icon="item.icon"></wiy-input>
                    <wiy-radio-group wiy:if="item.type == 'radio-group'" wiy:data-options="item.options"
                        wiy:data-data="this.data[item.name]" wiy:onchange="this.onItemValueChange(item)"
                        wiy:style="item.style"></wiy-radio-group>
                    <wiy-checkbox-group wiy:if="item.type == 'checkbox-group'" wiy:data-options="item.options"
                        wiy:data-data="this.data[item.name]" wiy:onchange="this.onItemValueChange(item)"
                        wiy:style="item.style"></wiy-checkbox-group>
                    <wiy-select wiy:if="item.type == 'select'" wiy:data-options="item.options"
                        wiy:data-data="this.data[item.name]" wiy:onchange="this.onItemValueChange(item)"
                        wiy:style="item.style" wiy:attr-prompt="item.prompt"></wiy-select>
                    <wiy-file-picker wiy:if="item.type == 'file-picker'" wiy:data-files="this.data[item.name]"
                        wiy:data-tips="item.tips" wiy:onchange="this.onItemValueChange(item)"
                        wiy:onfileclick="e => this.onFilePickerFileClick(e, item)"
                        wiy:style="item.style"></wiy-file-picker>
                    <wiy-textarea wiy:if="item.type == 'textarea'" wiy:data-text="this.data[item.name]"
                        wiy:onchange="this.onItemValueChange(item)" wiy:style="item.style"
                        wiy:attr-placeholder="item.placeholder"></wiy-textarea>
                    <wiy-rate wiy:if="item.type == 'rate'" wiy:data-score="this.data[item.name]"
                        wiy:onchange="this.onItemValueChange(item)" wiy:style="item.style"
                        wiy:attr-max="item.max"></wiy-rate>
                    <wiy-button wiy:if="item.type == 'button'" wiy:attr-theme="item.theme" wiy:attr-icon="item.icon"
                        wiy:attr-icon-spin="item.iconSpin ? '' : undefined" wiy:data-disabled="item.disabled"
                        wiy:style="item.style" wiy:onclick="e => this.onButtonClick(e, item)">{{item.text}}</wiy-button>
                </div>
            </template>
        </template>
    </template>
</div>
<div id="operations">
    <wiy-button wiy:for="this.operations" wiy:for.value="operation" wiy:attr-theme="operation.theme"
        wiy:attr-icon="operation.icon" wiy:onclick="this.onOperationClick(operation)">{{operation.name}}</wiy-button>
</div>