:host {
    display: flex;
    max-width: 50vw;
    padding: 13px 16px;
    gap: 10px;
    align-items: center;
    background-color: white;
    border: 1px solid var(--wiy-message-border-color);
    border-radius: 6px;
    box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.05), 0px 16px 24px 2px rgba(0, 0, 0, 0.04), 0px 8px 10px -5px rgba(0, 0, 0, 0.08);

    #content {
        font-size: 14px;
        color: var(--wiy-message-text-color);
    }
}

:host,
:host([theme=info]) {
    #icon {
        color: var(--wiy-message-icon-color-info);
    }
}

:host([theme=success]) {
    #icon {
        color: var(--wiy-message-icon-color-success);
    }
}

:host([theme=warning]) {
    #icon {
        color: var(--wiy-message-icon-color-warning);
    }
}

:host([theme=error]) {
    #icon {
        color: var(--wiy-message-icon-color-error);
    }
}