:host {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 6px 20px;
    min-height: 32px;
    flex-wrap: wrap;

    .option {
        input {
            width: 16px;
            height: 16px;
            cursor: pointer;
            margin: 8px 0;
            flex-shrink: 0;

            &:focus {
                outline: 1px solid rgb(1, 204, 255);
            }
        }

        label {
            cursor: pointer;
            padding-left: 6px;
            width: max-content;
        }
    }

    #other {
        display: none;
    }
}

:host([allow-other]) {
    #other {
        display: flex;
    }
}