<wiy-flex class="option" ai="center" wiy:for="this.getOptions()" wiy:for.value="option">
    <input id="radio-{{key}}" name="radio" type="radio" wiy:data="this.data === option.value"
        wiy:onchange="e => this.onInputChange(e, option.value)" />
    <label for="radio-{{key}}">{{option.label || option.value}}</label>
</wiy-flex>
<wiy-flex id="other" class="option" ai="center" wiy:let-other-data="this.getOtherData()">
    <input id="radio-other" name="radio" type="radio" wiy:data="!!otherData"
        wiy:onchange="e => this.onOtherChange(e, null)" />
    <label for="radio-other">
        <wiy-flex ai="center">
            其他：
            <slot name="other" wiy:data-value="otherData"
                wiy:method-set-value="(value) => this.onOtherChange(null, value)">
                <wiy-input placeholder="请输入" wiy:data-text="otherData?.toString()"
                    wiy:onchange="e => this.onOtherChange(e, e.data.text ? e.data.text : null)"></wiy-input>
            </slot>
        </wiy-flex>
    </label>
</wiy-flex>