dialog[open] {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 0;
    box-shadow: 0 0 6px gray;
    background-color: white;
}

dialog:focus {
    outline: none;
}

#head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
    user-select: none;
}

#title {
    line-height: 1em;
    font-weight: bold;
}

#close {
    cursor: pointer;
}

#close:hover {
    color: rgb(64, 158, 255);
}

#content {
    overflow: auto;
}