:host {
    position: relative;
}

#button {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
    line-height: 1em;
}

#button.opened {
    background-color: aliceblue;
}

#button:hover {
    background-color: aliceblue;
}

#angle {
    transition: transform 0.3s ease;
}

#button.opened #angle {
    transform: scaleY(-1);
}

#content {
    position: absolute;
    width: max-content;
    top: calc(100% + 1px);
    right: 0;
    box-shadow: 0 0 6px gray;
    z-index: 1;
    transition: opacity 0.3s ease;
    overflow: hidden;
    height: 0;
    opacity: 0;
}

#button.opened~#content {
    height: auto;
    opacity: 1;
}