:host {
    display: inline-block;
    width: 600px;
    height: 400px;

    iframe {
        width: 100%;
        height: 100%;
    }
}

:host([block]) {
    display: block;

    iframe {
        display: block;
    }
}