:host {
    display: flex;
}

.item {
    display: flex;
    align-items: center;
}

.item:not(:first-of-type)::before {
    content: '/';
    color: gray;
}

.name {
    padding: 0 4px;
    user-select: none;
}