:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    wiy-icon {
        width: 60px;
        height: 60px;
        color: var(--wiy-empty-icon-color);
    }

    #title {
        color: var(--wiy-empty-title-color);
        user-select: none;
    }
}