:host {
    svg {
        width: 1em;
        height: 1em;
        vertical-align: -0.125em;
    }

    .spin {
        animation: spin 1s linear infinite;
    }
}

:host([theme=info]) {
    color: var(--wiy-icon-info-color);
}

:host([theme=success]) {
    color: var(--wiy-icon-success-color);
}

:host([theme=warning]) {
    color: var(--wiy-icon-warning-color);
}

:host([theme=error]) {
    color: var(--wiy-icon-error-color);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}