#title {
    font-weight: bold;
}

#items {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 8px 16px;
    padding: 10px 0 20px;
}

.label {
    line-height: 32px;
    position: relative;
    font-size: 14px;
    text-align: right;
}

.required {
    color: red;
    position: absolute;
}

.label-name {
    margin-left: 8px;
    color: rgb(65, 65, 65);
}

.value {
    display: flex;
    line-height: 32px;
}

#operations {
    display: flex;
    gap: 20px;
}