#title {
    margin-left: 8px;
    font-size: 1.2em;
    font-weight: bold;
}

#items {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 8px 16px;
    padding: 10px 0 20px;
}

.label {
    line-height: 26px;
    position: relative;
}

.required {
    color: red;
    position: absolute;
}

.label-name {
    margin-left: 8px;
}

.value {
    display: flex;
    align-items: center;
}

#operations {
    display: flex;
    gap: 20px;
    margin-left: 8px;
}