:host {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 4px;

    .menu {
        .item {
            padding: 7px 16px;
            border-radius: 3px;
            cursor: pointer;
            user-select: none;

            &.active {
                font-weight: bold;
                color: var(--wiy-menus-item-text-color-active);
                background-color: var(--wiy-menus-item-color-active);
                cursor: auto;
            }

            &:not(.active):hover {
                background-color: var(--wiy-menus-item-color-hover);
            }

            .name {
                flex-grow: 1;
            }

            .angle {
                transition: transform 0.3s ease;
                cursor: pointer;
            }

            &.opened {
                .angle {
                    transform: scaleY(-1);
                }

                &~wiy-menus {
                    height: auto;
                    opacity: 1;
                }
            }
        }

        wiy-menus {
            padding-left: 1em;
            transition: opacity 0.3s ease;
            overflow: hidden;
            height: 0;
            opacity: 0;
        }
    }
}

:host([align=center]) {
    .item {
        justify-content: center;
    }
}

:host([align=right]) {
    .item {
        justify-content: flex-end;
    }
}