:host {
    display: flex;
    align-items: center;
    gap: 20px;
}

.option {
    display: flex;
    align-items: center;
}

input {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 0;
    flex-shrink: 0;
}

input:focus {
    outline: 1px solid rgb(1, 204, 255);
}

label {
    cursor: pointer;
    padding-left: 6px;
}