:host {
    display: inline-block;

    video {
        width: 100%;
        height: 100%;
    }
}

:host([block]) {
    display: block;

    video {
        display: block;
    }
}

:host,
:host([fit=fill]) {
    video {
        object-fit: fill;
    }
}

:host([fit=contain]) {
    video {
        object-fit: contain;
    }
}

:host([fit=cover]) {
    video {
        object-fit: cover;
    }
}

:host([fit=none]) {
    video {
        object-fit: none;
    }
}

:host([fit=scale-down]) {
    video {
        object-fit: scale-down;
    }
}