:host {
    display: inline-block;
    max-width: 100%;
}

:host(:not([lines])),
:host([lines='1']) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host([lines]:not([lines='1'])) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}