:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 14px;

    #table {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: grid;
        border: solid var(--wiy-table-border-color);
        border-width: 1px 0 0 1px;

        &>div {
            display: flex;
            width: 100%;
            height: 100%;
            padding: 16px;
            box-sizing: border-box;
            word-break: break-all;
            justify-content: flex-start;
            align-items: center;
            border: solid var(--wiy-table-border-color);
            border-width: 0 1px 1px 0;
        }

        .head-cell {
            color: var(--wiy-table-header-text-color);
            background-color: var(--wiy-table-header-color);
        }

        .number-cell {
            justify-content: center !important;
            user-select: none;
            color: var(--wiy-table-number-text-color);
        }

        .operation-cell {
            user-select: none;

            wiy-dropdown {
                z-index: unset; //允许下拉内容覆盖其他内容

                .title {
                    margin: 4px 6px;
                }
            }
        }

        .h-align-left {
            justify-content: flex-start !important;
        }

        .h-align-right {
            justify-content: flex-end !important;
        }

        .h-align-center {
            justify-content: center !important;
        }

        .v-align-top {
            align-items: flex-start !important;
        }

        .v-align-bottom {
            align-items: flex-end !important;
        }

        .v-align-center {
            align-items: center !important;
        }

        .cell {
            &.clickable {
                cursor: pointer;

                &:hover {
                    background-color: aliceblue;
                }
            }
        }
    }

    wiy-empty {
        flex-grow: 1;
        min-height: 200px;
    }
}