:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 14px;

    table {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid var(--wiy-table-border-color);

        th,
        td {
            padding: 0;
            border: 1px solid var(--wiy-table-border-color);

            &>div {
                display: flex;
                width: 100%;
                height: 100%;
                padding: 16px;
                box-sizing: border-box;
                word-break: break-all;
                justify-content: flex-start;
                align-items: center;
            }
        }

        thead {
            color: var(--wiy-table-header-text-color);
            background-color: var(--wiy-table-header-color);
        }

        tbody {
            &.row-clickable {
                tr {
                    cursor: pointer;
                }
            }

            tr {
                &:hover {
                    background-color: aliceblue;
                }

                td {
                    &.number-cell {
                        &>div {
                            justify-content: center;
                            user-select: none;
                            color: var(--wiy-table-number-text-color);
                        }
                    }

                    &.operation-cell {
                        &>div {
                            user-select: none;

                            wiy-dropdown {
                                z-index: unset; //允许下拉内容覆盖其他内容

                                .title {
                                    margin: 4px 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    wiy-empty {
        flex-grow: 1;
        min-height: 200px;
    }
}