<table wiy:let-columns="this.columns" wiy:let-data="this.data">
    <colgroup>
        <col />
        <col wiy:for="columns" wiy:style="value.style" />
        <col />
    </colgroup>
    <thead>
        <tr>
            <th></th>
            <th wiy:for="columns">
                <div>{{value.name}}</div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody wiy:class-row-clickable="!!this.onrowclick">
        <tr wiy:for="data" wiy:for.index="rowIndex" wiy:for.value="row" wiy:onclick="this.onRowClick(row, rowIndex)">
            <td class="number-cell">
                <div>{{this.startRowNumber + rowIndex}}</div>
            </td>
            <td wiy:for="columns" wiy:for.index="columnIndex" wiy:for.value="column">
                <div wiy:let-item="this.getItem(row, column, rowIndex, columnIndex)">
                    <template wiy:if="!column.isHtml">{{item}}</template>
                    <template wiy:if="column.isHtml" wiy:html="item"></template>
                </div>
            </td>
            <td class="operation-cell" wiy:let-operations="this.getOperations(row)"
                wiy:onclick="e => e.stopPropagation()">
                <div>
                    <wiy-dropdown wiy:if="operations">
                        <div class="title">操作</div>
                        <wiy-menus wiy:slot="content" wiy:data-items="operations"></wiy-menus>
                    </wiy-dropdown>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<wiy-empty wiy:if="!this.data.length"></wiy-empty>