:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 14px;
    overflow: auto;
    background-color: white;

    #container {
        position: relative;
        background-color: inherit;

        &[virtual] {
            table {
                position: absolute;
                width: unset;
                height: unset;
            }
        }

        table {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-collapse: collapse;
            border-spacing: 0;
            border: 1px solid var(--wiy-table-border-color);
            background-color: inherit;

            th,
            td {
                padding: 0;
                border: 1px solid var(--wiy-table-border-color);
                background-color: inherit;

                &>div {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    padding: 16px;
                    box-sizing: border-box;
                    word-break: break-all;
                    justify-content: flex-start;
                    align-items: center;
                }

                &.checkbox-column {
                    width: 0;
                    position: sticky;
                    left: -0.5px;

                    &>div {
                        padding: 4px;
                    }
                }

                &.number-column {
                    width: 0;
                    position: sticky;
                    left: -0.5px;

                    &>div {
                        min-width: max-content;
                        justify-content: center;
                        user-select: none;
                        color: var(--wiy-table-number-text-color);
                    }
                }

                &.operation-column {
                    width: 0;
                    position: sticky;
                    right: -1px;

                    &>div {
                        min-width: max-content;
                        user-select: none;
                        cursor: default;

                        wiy-dropdown {
                            .title {
                                margin: 4px 4px 4px 0;
                            }
                        }
                    }
                }
            }

            thead {
                position: sticky;
                top: -0.5px;

                tr {
                    color: var(--wiy-table-header-text-color);
                    background-color: var(--wiy-table-header-color);
                }
            }

            tbody {
                background-color: inherit;

                &.row-clickable {
                    tr {
                        cursor: pointer;
                    }
                }

                tr {
                    background-color: inherit;

                    &:hover {
                        background-color: aliceblue;
                    }
                }
            }
        }
    }

    wiy-empty {
        flex-grow: 1;
        min-height: 200px;
    }
}