:host {
    display: flex;
    flex-direction: column;
}

#file {
    display: none;
}

#button {
    width: max-content;
}

#files {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 6px;
}

.file {
    font-size: 0.9em;
    display: flex;
    gap: 6px;
}

.delete {
    flex-shrink: 0;
    cursor: pointer;
    margin-top: 2px;
    color: red;
}

.delete:hover {
    color: rgb(64, 158, 255);
}

.file-name {
    cursor: pointer;
    color: var(--wiy-file-picker-file-name-color);
}

.file-name:hover {
    color: var(--wiy-file-picker-file-name-color-hover);
}