:host {
    display: flex;
    flex-direction: column;
}

#file {
    display: none;
}

#files {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 6px;
}

.file {
    font-size: 0.8em;
    display: flex;
    gap: 6px;
    line-height: normal;
}

.delete {
    flex-shrink: 0;
    cursor: pointer;
    margin-top: 0.2em;
    color: red;
}

.delete:hover {
    color: rgb(64, 158, 255);
}

.file-name {
    cursor: pointer;
}

.file-name:hover {
    color: rgb(64, 158, 255);
}