:host {
    display: flex;
    flex-direction: column;

    #file {
        display: none;
    }

    #button {
        width: max-content;
    }

    #files {
        margin-top: 6px;

        .file {
            .file-name {
                font-size: 0.9em;
                cursor: pointer;
                color: var(--wiy-file-picker-file-name-color);

                &:hover {
                    color: var(--wiy-file-picker-file-name-color-hover);

                    .delete {
                        display: unset;
                    }
                }

                .delete {
                    display: none;
                    cursor: pointer;
                    color: gray;

                    &:hover {
                        color: red;
                    }
                }
            }

            wiy-icon {
                flex-shrink: 0;
            }
        }
    }

    #tips {
        margin-top: 4px;
        font-size: 13px;
        color: var(--wiy-file-picker-tips-color);
    }
}