<input type="file" id="file" multiple wiy:onchange="this.onInputChange" />
<wiy-button id="button" wiy:onclick="this.onButtonClick">添加文件</wiy-button>
<div id="files" wiy:if="this.files.length">
    <div class="file" wiy:for="this.files" wiy:for.value="file">
        <wiy-icon name="close" class="delete" wiy:onclick="this.onDeleteClick(key)"></wiy-icon>
        <span class="file-name" wiy:onclick="this.onFileClick(file)">{{file.name}}</span>
    </div>
</div>
<wiy-pre id="tips" wiy:data-text="this.tips" wiy:if="this.tips"></wiy-pre>