<img wiy:attr-src="this.src || this.attr('src') || this.attr('default')" />
<dialog id="preview" wiy:if="this.srcList.length">
    <wiy-flex id="preview-container" ai="center" jc="space-between">
        <wiy-icon class="icon" name="angle-left" wiy:onclick="this.current--"></wiy-icon>
        <wiy-image id="preview-img" wiy:data-src="this.getCurrentPreviewSrc()"
            wiy:onclick="this.closePreview"></wiy-image>
        <wiy-icon class="icon" name="angle-right" wiy:onclick="this.current++"></wiy-icon>
    </wiy-flex>
</dialog>