:host {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;

    #background {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        filter: blur(5px) grayscale(50%);
        object-fit: cover;
        z-index: -1;
    }

    #img {
        width: 100%;
        height: 100%;
        position: relative;
    }

    #preview {
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
        border: none;
        margin: 0;
        padding: 0;
        user-select: none;
        outline: none;
        background-color: rgba(255, 255, 255, 0.6);

        #preview-container {
            width: 100%;
            height: 100%;

            #preview-img {
                position: absolute;
                width: auto;
                height: auto;
            }

            #close {
                top: 0;
                right: 0;
            }

            #left {
                left: 0;
            }

            #right {
                right: 0;
            }

            .icon {
                position: fixed;
                z-index: 1;
                font-size: 3em;
                color: lightgray;
                background-color: white;
                margin: 10px;
                border-radius: 50%;
            }
        }
    }
}

:host([block]) {
    display: block;

    #img {
        display: block;
    }
}

:host,
:host([fit=fill]) {
    #img {
        object-fit: fill;
    }
}

:host([fit=contain]) {
    #img {
        object-fit: contain;
    }
}

:host([fit=cover]) {
    #img {
        object-fit: cover;
    }
}

:host([fit=none]) {
    #img {
        object-fit: none;
    }
}

:host([fit=scale-down]) {
    #img {
        object-fit: scale-down;
    }
}

:host([blur-background]) {
    #background {
        display: block;
    }
}