:host {
    display: block;
    user-select: none;
    position: relative;

    #viewer {
        width: 100%;
        height: 100%;

        wiy-carousel {
            width: 100%;
            height: 100%;
        }

        #name {
            position: absolute;
            top: 0;
            background-color: rgba(255, 255, 255, 0.5);
            width: 100%;
            height: 30px;
        }

        #number {
            position: absolute;
            bottom: 10px;
        }
    }
}